@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt";
}

body {
    background-color: rgb(15, 43, 87);

    padding: 4rem 0;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 8px 8px 8px rgb(99, 99, 99);
}

.about {
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem;

    background-color: #4FE8FD;
    text-align: center;
}

.header-box{
    text-shadow:4px 4px 8px rgb(0, 40, 149);
}

.inform-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;

    padding-bottom: 40px;
}

.inform-1,
.inform-2 {
    background-color: #ABF5FF;
    width: 45%;
    padding: 24px 16px;

    line-height: 26px;
}

.inform-1 h1,
.inform-2 h1 {
    color: black;
    font-size: 1rem;

}

.inform-1 p,
.inform-2 p {
    color: black;
    font-size: 1rem;

}

.profile-box {
    margin: 8rem 0;
    display: flex;
    justify-content: center;

}

.profile-box img {
    height: 32rem;
    border-radius: 24px;
}

.skill-box h1 {
    text-align: center;
    font-size: 4rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-1 img {
    width: 8rem;
    margin: 16px;
    ;
}

@media screen and (max-width: 500px) {
    .about {
        width: 90%;
        margin: 0 auto;
        margin-top: 4rem;
        padding: 1rem;
    }

    .inform-box {
        display: block;
    }

    .inform-1,
    .inform-2 {
        background-color: #ABF5FF;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        padding: 24px 16px;

        line-height: 26px;
    }

    .skill-1 img {
        width: 5rem;
    }

}

@media screen and (max-width: 769px){
    .about{
        width: 65%;
    }
}

